# App config
APP_ENV=development
DEBUG=true
PORT=8000

# Backend Config
API_V1_STR=/api/v1
SECRET_KEY=supersecretkey_change_me_in_production

# Database Config
DATABASE_URL=sqlite:///./space_rover.db

# ML / AI Config
MODEL_PATH=./ml_model/rover_nav_latest.pt
DEVICE=cuda

# Frontend Config
VITE_API_URL=http://localhost:8000/api/v1
